<div class="line">
    <div>
        <h1>Line Chart</h1>
        <p-chart type="line" [data]="data" width="40vw" height="60vh"></p-chart>
    </div>
    <div>
        <h1>Bar Chart</h1>
        <p-chart type="bar" [data]="data" width="40vw" height="60vh"></p-chart>
    </div>
    <div>
        <h1>Doughnut Chart</h1>
        <p-chart type="doughnut" [data]="dataset" width="40vw" height="60vh"></p-chart>
    </div>
    <div>
        <h1>Polar Area Chart</h1>
        <p-chart type="polarArea" [data]="dataset" width="40vw" height="60vh"></p-chart>
    </div>
    <div>
        <h1>Pie Chart</h1>
        <p-chart type="pie" [data]="dataset" width="40vw" height="60vh"></p-chart>
    </div>
</div>